.DevicesSidebar {
  background: #20293c;
  border-top: 2px solid #2f3b52;
  height: 10rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  i {
    font-size: 60px;
    margin: 0;
  }
  .add {
    color: #1f8efa;
    font-size: 60px;
    padding: 25px;
    margin: 0 10px 0 30px;
    border: 4px dashed #2f3b52;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
  }
  .container {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    display: flex;
    .device {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 20px 10px;
      padding: 20px;
      border-radius: 6px;
      background: #2f3b52;
      .image {}
      .info {
        margin: 0 20px;
        p {
          margin: 0;
          color: #1f8efa;
        }
        p:first-child {
          font-weight: 500;
          font-size: 20px;
          color: #ffffff;
        }
      }
      .controller {
        height: 100%;
        span {
          &:after {
            background-color: #1f8efa;
          }
        }
      }
    }
  }
}
.switch label input[type=checkbox]:checked+.lever {
  background-color: transparent !important;
}
.switch label input[type=checkbox]:checked+.lever:after {
  background-color: #1f8efa !important;
}

@media (max-width: 992px) {
  .DevicesSidebar {
    .add {
      font-size: 50px;
      margin: 0 5px 0 10px;
      padding: 15px;
    }
    .container {
      .device {
        .info {
          width: 94px;
          margin: 0;
          p:not(:first-child) {
            font-size: 12px;
          }
        }
      }
    }
  }
}