body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  color: inherit;
}
.sidenav-overlay {
  opacity: 0 !important;
}
.navItems {
  display: flex;
}
@media (max-width: 992px) {
  #mobile-nav {
    background: #242e42;
    color: #ffffff;
    top: 57px;
    width: auto;
    height: calc(100vh - 56px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    li {
      line-height: normal;
    }
    #Dropdown_6 {
      margin-top: 15px;
    }
    .navItems {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-top: 50px;
    }
    a {
      color: #98a7b9;
    }
  }
}