image: node:latest

stages:
  - test

test:
  stage: test
  extends: .cache
  script:
    - cd server/
    - npm install
    - npm test

.cache:
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - server/node_modules
    policy: pull-push
