image: node:latest

services:
  - postgres:latest

variables:
  POSTGRES_DB: test
  POSTGRES_USER: admin
  POSTGRES_PASSWORD: admin
  POSTGRES_HOST_AUTH_METHOD: trust

stages:
  - test

test:
  stage: test
  extends: .cache
  script:
    - cd server/
    - npm install
    - npm test

.cache:
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - server/node_modules
    policy: pull-push
