.welcomeScreen {
  min-height: 100vh !important;
  background: #37435a;
  padding: 0 50px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  order: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  .header {
    margin: 67px 0;
  }
  .slide {
    color: #ffffff;
    text-align: left;
    font-size: 50px;
    margin-bottom: 100px;
    p {
      margin: 0;
    }
    p:first-child {
      font-weight: 300;
    }
    p:last-child {
      font-weight: 500;
    }
  }
  .footer {
    display: flex;
    align-items: center;
    color: #1f8efa;
    margin: 67px 0;
    .icon {
      font-size: 50px !important;
    }
    a {
      margin-left: 20px;
    }
  }
}
.authForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #242e42;
  color: #ffffff;
  overflow-y: auto;
  order: 2;
  min-height: 100vh !important;
  .header {}
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
      font-size: 32px;
      font-weight: 300;
    }
    .field {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    .wrapper {}
    .input-field {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    input {
      color: #236cb7;
      border: 1px solid #3d4f6e;
      height: 2.5rem;
      padding: 0 0 0 10px;
      margin-bottom: 30px;
      border-radius: 4px;
      &:focus {
        border: 1px solid #236cb7 !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
      }
      &:focus + label {
        color: #ffffff !important;
      }
      &::placeholder {
        color: #236cb7;
      }
    }
    label {
      font-size: 25px;
      top: -18px;
      color: #ffffff;
      font-weight: 300;
    }
    button {
      border-radius: 4px;
      min-height: 36px;
    }

    .restoreText {
      p {
        margin: 0;
        color: #647386;
      }
      margin-bottom: 100px;
    }
  }
  .links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    span {
      color: #5b677a;
      margin: 20px 5px;
    }
    .link {
      cursor: pointer;
      color: #236cb7;
      font-weight: bold;
    }
    .linkRestore {
      color: #8d96a5;
      margin-top: 20px;
    }
  }
}
