.TopNavbar {
  background: #242e42;
  .logo {
  }
  .progressContainer {
    display: flex;
    width: 70%;
    align-items: center;
  }
  .box {
    display: flex;
    width: 10rem;
    height: 6px;
    position: relative;
    top: -35px;
    left: 35px;
  }
  .username {
    text-overflow: ellipsis;
    max-width: 200px;
    white-space: nowrap;
    overflow:hidden;
  }
  .mob-items {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 25px;
  }
}

@media (min-width: 992px) {
  .logo {
    left: 10px;
  }
  .icons {
    display: flex;
    justify-content: space-around;
    width: 100%
  }
  .progressContainer {
    width: 70%;
    display: flex;
    align-items: center;
  }
  .box {
    margin: 0;
  }
  .items {
    margin-bottom: 10px;
  }
  .dropdown-trigger {
    margin-top: 20px;
  }
}
.sidenav {
  background: #242e42 !important;
}
