.Devices {
  text-align: left;
  position: relative;
  padding: 10px 50px 0 0;
  .add {
    position: absolute;
    top: 10px;
    right: 10px;
    //background: #ffffff;
    border-radius: 100px;
    color: #1f8efa;
    font-size: 50px;
    cursor: pointer;
  }
  .wrapper {
    background: #2f3b52;
    padding: 0 20px;
    overflow-x: auto;
  }
  table {
    background: #2f3b52;
    font-size: 20px;
    thead {
      th {
        font-weight: 300;
      }
    }
    tbody {
      color: #44556b;
      font-weight: 400;
      td {
        text-transform: capitalize;
      }
      .device {
        font-size: 70px;
      }
      .battery {
        border-radius: 100px;
        background: #20293C;
        padding: 10px;
        i {
          position: relative;
          top: 4px;
        }
      }
      .controller {
        height: 100%;
        span {
          &:after {
            background-color: #1f8efa;
          }
        }
      }
    }
  }
}
.switch label input[type=checkbox]:checked+.lever {
  background-color: transparent !important;
}
.switch label input[type=checkbox]:checked+.lever:after {
  background-color: #1f8efa !important;
}

@media (max-width: 992px) {
  .Devices {
    .wrapper {
      padding: 0;
    }
    table {
      thead th {
        text-align: center;
        font-size: 12px !important;
      }
      td {
        text-align: center;
        font-size: 14px !important;
      }
      tbody .device {
        font-size: 40px;
      }
      tbody .battery {
        border-radius: 100px;
        background: #20293C;
        padding: 10px;
        font-size: 20px;
        i {
          position: relative;
          top: 4px;
        }
      }
      .controller {
        height: 100%;
        span {
          &:after {
            background-color: #1f8efa;
          }
        }
      }
    }
  }
}