.Sidebar {
  color: #98a7b9;
  padding: 0 !important;
  .head {
    margin-top: 30px;
    .name, .address {
      margin: 0;
      text-overflow: ellipsis;
      width: 100%;
      white-space: nowrap;
      overflow:hidden;
    }
    .name {
      font-size: 20px;
    }
  }
  .item {
    display: flex;
    align-items: center;
    cursor: pointer;
    a {
      display: flex;
      padding: 14px 20px;
      width: 100%;
      height: 100%;
      text-align: left;
    }
    .title {
      margin-left: 10px;
      text-transform: capitalize;
    }

  }
  .active {
    background: #20293c;
    color: #1f8efa;
    border-left: 8px solid #1f8efa;
    padding-left: 12px;
    a {
      padding: 14px 0;
    }
  }
}

@media (max-width: 992px) {
  .Sidebar {
    //margin-bottom: 100px;
    .head {
      display: flex;
      align-items: center;
      padding: 0 20px;
      img {
        width: 100px;
      }
      .name {
        margin-bottom: 5px;
      }
    }
    .item a {
      padding: 5px 20px;
    }
    .active {
      a, i {
        color: #1f8efa !important;
      }
      a {
        padding: 5px 0;
      }
    }
    i {
      color: #98a7b9 !important;
    }
  }
}
