.Sidebar {
  color: #98a7b9;
  .head {
    margin-top: 30px;
    .name, .address {
      margin: 0;
    }
    .name {
      font-size: 20px;
    }
  }
  .item {
    display: flex;
    align-items: center;
    padding: 14px 20px;
    cursor: pointer;
    .title {
      margin-left: 10px;
    }

  }
  .active {
    background: #20293c;
    color: #1f8efa;
    border-left: 8px solid #1f8efa;
    padding-left: 12px;
  }
}

@media (max-width: 992px) {
  .Sidebar {
    //margin-bottom: 100px;
    .head {
      display: flex;
      align-items: center;
      padding: 0 20px;
      img {
        width: 100px;
      }
      .name {
        margin-bottom: 5px;
      }
    }
  }
}