.App {
  //display: flex;
  min-height: 100vh;
  text-align: center;
  background: #242e42;
  color: #ffffff;
  margin: 0;
  position: relative;
  .wrapper {
    position: relative;
    margin-bottom: 0;
    min-height: calc(100vh - 64px);
    width: 100%;
    overflow: auto;
  }
}
