.Analytics {
  h4 {
    text-align: left;
  }
  .energyConsumption {
    background: #2f3b52;
    .header {
      padding: 0 16px;
    }
    .title {
      color: #c6cdd7;
      font-size: 18px;
      font-weight: 300;
    }
    .rangBar {
      display: flex;
      justify-content: space-between;
      padding: 12px 10px;
    }
    .pieCharts {
      .item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 15px 26px;
        p {
          margin: 0;
        }
        .chartContainer {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .description {
          width: 100%;
          text-align: left;
          margin-left: 20px;
          p:last-child {
            font-size: 12px;
            color: #657d95
          }
        }
      }
    }
  }
}