.Analytics {
  padding-right: 50px;
  h4 {
    text-align: left;
  }
  .energyConsumption {
    background: #2f3b52;
    .header {
      padding: 0 16px;
    }
    .title {
      display: flex;
      align-items: flex-start;
      margin-bottom: 45px;
      p {
        color: #c6cdd7;
        font-size: 18px;
        font-weight: 300;
        margin: 8px;
        letter-spacing: 1.5px;
      }
    }
    .rangBar {
      display: flex;
      justify-content: flex-end;
      padding: 8px 10px;
      margin-bottom: 10px;
    }
    .pieCharts {
      .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      .item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0 15px 18px;
        p {
          margin: 0;
        }
        .chartContainer {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .description {
          width: 100%;
          text-align: left;
          margin-left: 13px;
          font-size: 13px;
          p:first-child {
            letter-spacing: .6px;
          }
          p:last-child {
            color: #657d95
          }
        }
      }
    }
    .lineChart {}
  }
}

@media (max-width: 992px) {
  .Analytics {
    .energyConsumption {
      .rangBar {
        justify-content: space-between;
      }
      .pieCharts {
        display: flex;
        flex-direction: column;
        align-items: center;
        .container {
          width: 50%;
          display: flex;
          justify-content: flex-start;
        }
      }
    }
  }
}
