.Analytics {
  padding-right: 50px !important;
  h4 {
    text-align: left;
    margin-bottom: 40px;
  }
  .energyConsumption {
    background: #2f3b52;
    .header {
      padding: 0 16px;
    }
    .title {
      display: flex;
      align-items: flex-start;
      margin-bottom: 45px;
      p {
        color: #c6cdd7;
        font-size: 18px;
        font-weight: 300;
        margin: 8px;
        letter-spacing: 1.5px;
      }
    }
    .rangBar {
      display: flex;
      justify-content: flex-end;
      padding: 8px 10px;
      margin-bottom: 10px;
      button {
        padding: 1px 22px;
      }
    }
    .pieCharts {
      .container {
      }
      .item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0 22px 18px;
        p {
          margin: 0;
        }
        .chartContainer {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .description {
          width: 100%;
          text-align: left;
          margin-left: 13px;
          font-size: 13px;
          p:first-child {
            letter-spacing: .6px;
          }
          p:last-child {
            color: #657d95
          }
        }
      }
    }
    .lineChart {}
  }
}

@media (max-width: 992px) {
  .Analytics {
    padding-right: 0 !important;
    .energyConsumption {
      .rangBar {
        justify-content: flex-end;
      }
      .pieCharts {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        .title {
          width: 100%;
          text-align: left;
        }
        .container {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          flex-wrap: wrap;
          .item {
            width: 120px;
            justify-content: space-around;
            flex-direction: column;
            //margin-left: 50px;
            .description {
              width: 100%;
              margin: 10px 0;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
