.Analytics {
  padding-right: 50px !important;
  h4 {
    text-align: left;
    margin-bottom: 22px;
    display: flex;
    justify-content: space-between;
    position: relative;
    font-weight: 300;
    .settings {
      color: #3E4E6C;
      position: absolute;
      right: -16px;
      top: 18px;
      font-size: 30px;
      cursor: pointer;
    }
  }
  .energyConsumption {
    background: #2f3b52;
    .rowContainer {
      align-items: stretch;
      display: flex;
    }
    .header {
      padding: 0 16px;
    }
    .title {
      display: flex;
      align-items: flex-start;
      margin-bottom: 45px;
      p {
        color: #c6cdd7;
        font-size: 18px;
        font-weight: 300;
        margin: 8px;
      }
    }
    .rangBar {
      display: flex;
      justify-content: flex-end;
      padding: 8px 10px;
      margin-bottom: 10px;
      button {
        padding: 1px 22px;
      }
    }
    .chartContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .pieCharts {
      .container {
        margin-bottom: 26px;
      }
      .item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0 22px 12px;
        p {
          margin: 0;
        }
        .chartContainer {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .description {
          width: 100%;
          text-align: left;
          margin-left: 13px;
          font-size: 13px;
          p:first-child {
            letter-spacing: .6px;
          }
          p:last-child {
            color: #657d95
          }
        }
      }
    }
    .lineChart {}
  }
  .devicesRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 26px;
    .Device {
      background: #2f3b52;
      margin-bottom: 10px;
      .header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        color: #c6cdd7;
        .title {
          margin: 8px;
          color: #c6cdd7;
          font-size: 18px;
          font-weight: 300;
          letter-spacing: 1.5px;
        }
        .selectPeriod {
          display: block;
          border: none;
          outline: none;
          color: #657D95;
          font-size: 12px;
          width: 48%;
          height: 32px;
          margin: 10px;
          padding: 10px 10px;
          -moz-appearance: none;
          -webkit-appearance: none;
          appearance: none;
          background: #20293C;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 12' fill='%23657D95'%3E%3Cpolygon points='0,0 27,0 14,12'%3E%3C/polygon%3E%3C/svg%3E%0A");
          background-repeat: no-repeat, repeat;
          background-position: right .7em top 50%, 0 0;
          background-size: .70em auto, 100%;
          cursor: pointer;
        }
      }
      .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 14px 10px 26px 22px;
        .description {
          margin-left: 26px;
          .field {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 10px 0;
            padding-top: 4px;
            color: #657D95;
            .icon {
              position: relative;
              right: 2px;
              bottom: 2px;
              font-size: 18px;
            }
            .difference {
              font-size: 12px;
              margin-left: 12px;
            }
            .value {
              font-size: 18px;
              color: #D9DBDF;
              font-weight: 600;
              margin: 0 10px 0 5px;
            }
            span {
              display: flex;
              justify-content: flex-start;
              align-items: flex-end;
            }
          }
          .field:first-child {
            align-items: flex-end;
            .difference {
              position: relative;
              bottom: 2px;
            }
          }
        }
      }
    }
  }
  .roomRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .room {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      color: #657D95;
      .chartContainer {
        .lineChart {
          .x-axis, .y-axis {
            display: none;
          }
        }
      }
      .description {
        .field {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          line-height: 1.2;
          .value {
            font-size: 26px;
            font-weight: 400;
            color: #ffffff;
          }
          .label {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 5px;
            .icon {
              font-size: 11px;
              position: relative;
              right: 2px;
              top: 0;
              cursor: pointer;
            }
            span {
              font-size: 10px;
              font-weight: 800;
              letter-spacing: 1.2px;
            }
          }
        }
        .field:last-child span {
          padding-left: 2px;
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .Analytics {
    .devicesRow {

    }
  }
}
@media (max-width: 992px) {
  .Analytics {
    padding-right: 0 !important;
    .settings {
      display: none;
    }
    .energyConsumption {
      .rowContainer {
        flex-direction: column;
      }
      .rangBar {
        justify-content: flex-end;
      }
      .pieCharts {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        .title {
          width: 100%;
          text-align: left;
        }
        .container {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          flex-wrap: wrap;
          .item {
            width: 120px;
            justify-content: space-around;
            flex-direction: column;
            .description {
              width: 100%;
              margin: 10px 0;
              text-align: center;
            }
          }
        }
      }
    }
    .devicesRow {
      justify-content: center;
      .Device {
        margin: 0 5px 10px 5px;
        .container, .header {
          justify-content: space-around;
        }
      }
    }
    .roomRow {
      flex-wrap: nowrap;
    }
  }
}
